#countdown-container {
    padding-top: 30px;
}

#countdown-display {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.clock-section {
    min-height: 10vh;
    margin: 0 15px;
}

.label {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #d4020d;
    font-weight: bolder;
    text-shadow: 1px 1px yellow;
    max-width: 100%;
}

@media (max-width: 850px) {
    #countdown-display {
        width: 60%;
        font-size: 5.5rem;
    }
    .label {
        font-size: 1.5rem;
    }

    .clock-section {
        padding: 10px 10px;
        margin: 0 5px;
    }
}


@media (max-width: 450px) {
    #countdown-display {
        width: 100%;
        font-size: 2.8rem;
    }
    .label {
        font-size: 0.8rem;
        padding-bottom: 0;
    }
}