#countdown-display {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: 40%;
    border-radius: 10px;
    color: rgb(44, 38, 38);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 80px;
}

.clock-section {
    min-height: 10vh;
    background-color: #d4020d;
    color:white;
    padding: 20px 20px;
    margin: 0 15px;
    border-radius: 50%;
}

.label {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #d4020d;
    margin-top: 15px;
    font-weight: bolder;
}

@media (max-width: 850px) {
    #countdown-display {
        flex-direction: column;
        width: 45%;
        font-size: 2.7rem;
    }
    .label {
        font-size: 2rem;
    }
}