#countdown-container {
background: white;
}

#countdown-display {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: 40%;
    color: rgb(44, 38, 38);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    background: white;
}

.clock-section {
    min-height: 10vh;
    margin: 0 15px;
}

.label {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #d4020d;
    font-weight: bolder;
    text-shadow: 1px 1px yellow;
}

@media (max-width: 850px) {
    #countdown-display {
        flex-direction: column;
        width: 45%;
        font-size: 2.5rem;
    }
    .label {
        font-size: 14px;
    }

    .clock-section {
        padding: 10px 10px;
        margin: 0 5px;
    }
}

@media (max-width: 600px) {
    #countdown-display {
        flex-direction: column;
        width: 45%;
        font-size: 1.4rem;
    }
    .label {
        font-size: 14px;
    }

    .clock-section {
        padding: 10px 10px;
        margin: 0 5px;
    }
}