.Flightfinder__setup {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 4rem;
  width: 80vw;
  margin: auto;
}

.starting-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .starting-selection {
    flex-direction: column;
  }

  .starting-selection span {
    padding-bottom: 0.5rem;
  }
}

#dropdown {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  background: transparent;
  border-radius: 5px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.cityResult {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result--title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.result--title,
.result--subtitle {
  text-align: center;
}

.result--subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.result--copy {
  letter-spacing: 2px;
  line-height: 1.5rem;
}

.result--link {
  text-decoration: none;
}
