
.header-container {
  background: black;
  padding: 5px;
}

.home-link {
  display: inline-block;
  font-family:'Work Sans';
  text-decoration: none;
  color: rgb(44, 38, 38);
  text-align: center;
  line-height: 5rem;
  margin-top: 50px;
  font-size: 4.5rem;
  font-weight: 100;
  letter-spacing: .3rem;
  text-transform: uppercase;
  position: relative;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -webkit-background-clip: text;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flags-container {
    white-space: nowrap;
  }

  .flags {
    font-weight: 800;
    font-size: 5rem;
    filter: drop-shadow(3px 0px 5px rgba(0,0,0,.6))drop-shadow(2px 2px 2px #ccc);
    letter-spacing:.5rem;
    line-height: 5rem;
  }
  
  
  .brit-flag {
    background: url(../../assets/half-uk.png);
    display:inline-block;
    transition:transform .3s ease-in-out;
  }
  
  .brit-flag:hover {
    transform: translate(10px 10px)
  }
  
  .euro-flag {
    background: url(../../assets/half-eu.png);
  }
  
  .brit-flag, .euro-flag {
    background-size:100% 100%;
    background-repeat:no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.planner {
  color: white;
}

@media (max-width: 850px) {
  .header-container {
    height: 30vh;
    padding-top: 15px;
  }
  .home-link {
    font-size: 6rem;
    letter-spacing:.5rem;
    line-height: 2.5rem;
    flex-direction: column;
  }
  .flags {
    font-size: 8rem;
    padding-bottom: 35px;
  }
}

@media (max-width: 450px) {
  .header-container {
    padding: 0;
    height: 25vh;
  }
  .home-link {
    font-size: 3.5rem;
    letter-spacing:.5rem;
    line-height: 2.5rem;
    flex-direction: column;
  }
  .flags {
    font-size: 4.5rem;
    padding-bottom: 0px;
  }
}