.cards-container {
    width: 65vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 10vh;
    margin-bottom: 5vh;
    z-index: 1;
}

.card-container {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 5px;
    text-align: center;
    max-width: 250px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.6);
}

.card-container::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: #222;
    border-radius: 5px;
    z-index: -1;
}

.card-container::after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    opacity: 0.7;
    z-index: -1;
    transition: opacity 250ms ease-out;
}

.card-container:hover::after {
    opacity: 0.4;
}

.card-container__content {
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 5px;
    position: absolute;
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: -105%;
    transition: bottom 250ms ease-out;
}

.card-container:hover .card-container__content {
    bottom: -5%;
}

.news-container::after {
    animation: slideshow-news 35s ease-in-out infinite;   
}


@keyframes slideshow-news {
    0%, 100% {
        background-image: url('./assets/boris-square.jpg');
    }
    25% {
        background-image: url('./assets/boris-square.jpg');
    }
    35% {
        background-image: url('./assets/demo-square.jpg');
    }   
    60% {
        background-image: url('./assets/demo-square.jpg');
    }  
    70% {
        background-image: url('./assets/junker-square.jpg');
    }
    95% {
        background-image: url('./assets/junker-square.jpg');
    }
}

.travel-container::after {
    animation: slideshow-travel 35s ease-in-out infinite;
}

@keyframes slideshow-travel {
    0%, 100% {
        background-image: url('./assets/map-square.png');
    }
    25% {
        background-image: url('./assets/map-square.png');
    }
    35% {
        background-image: url('./assets/passport-square.jpg');
    }   
    60% {
        background-image: url('./assets/passport-square.jpg');
    }  
    70% {
        background-image: url('./assets/airport-square.jpg');
    }
    95% {
        background-image: url('./assets/airport-square.jpg');
    }
}

.timeline-container::after {
    animation: slideshow-timeline 35s ease-in-out infinite;
}

@keyframes slideshow-timeline {
    0%, 100% {
        background-image: url('./assets/corbyn-square.jpg');
    }
    25% {
        background-image: url('./assets/corbyn-square.jpg');
    }
    35% {
        background-image: url('./assets/facepaint-square.jpg');
    }   
    60% {
        background-image: url('./assets/facepaint-square.jpg');
    }  
    70% {
        background-image: url('./assets/may-square.jpg');
    }
    95% {
        background-image: url('./assets/may-square.jpg');
    }
}