.page-container {
    position: relative;
}

@keyframes slideInLeft {
  from {
    transform: translate(-100%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translate(100%);
  }

  to {
    transform: translate(0);
  }
}


@keyframes slideOutRight {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
} 

/* parent container (must be positioned relatively) */
.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.home-container, .news-container, .travel-container, .timeline-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.left.page-enter {
  animation: slideInLeft 0.5s forwards;
}
.left.page-exit {
  animation: slideOutLeft 0.5s forwards;
}

.right.page-enter {
  animation: slideInRight 0.5s forwards;
}

.right.page-exit {
  animation: slideOutRight 0.5s forwards;
} 