.app-wrapper {
    background: white;
    height: 90vh;
    width: 85%;
    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 8px 0 navy;
}

.router-link {
  text-decoration: none;
  color: rgb(44, 38, 38);
}

.container__title {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}

.left {
  margin-right: 85%;
}

.right, .left {
  text-decoration: none;
  color: rgb(44, 38, 38);
  font-size: 20px;
  font-weight:bolder;
  cursor: pointer;
}
.left:hover{
  color:#0b1687;
}

.right:hover{
  color:#0b1687;
}